@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*
{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.center 
{
    display: flex;
    justify-content: center;
}

body
{
    background-color: white;
}

.bg
{
    margin: 3px 10% 0 10%;
}

.Navbar
{
    
    padding: 17px;
    overflow: hidden;
    background-color: #1d2951;
    border-radius: 10px;
    top: 1%;
    position: fixed;
    align-items: center;
    transition: 0.4s;
    opacity: 0.1;
}

.Navbar:hover
{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    opacity: 1;
}

.Navbar a 
{ 
    font-size: 15px;
    color: #f2f2f2;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.1s;
}

.Navbar a:hover 
{
    padding: 8px;
    color: #1d2951;
    background-color: #ddd;
}

.Navbar il
{
    margin: 20px;
} 

.Navbar #text
{
    font-size: 9px;
    color: #1d2951;
    position: absolute;
    visibility: hidden;
}

.Navbar #icon:hover #text
{
    position: relative;
    visibility: visible;
}

.Landing-bg
{
    background-attachment: fixed;
    background-image: url(https://cdn.wallpapersafari.com/53/50/1uJNUe.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    width: 100%;
    height: 360px;
    opacity: 0.7;
}
/* https://cdn.wallpapersafari.com/53/50/1uJNUe.jpg */

.Landing-bg2
{
    margin-top: 70px;
    margin-bottom: 100px;
    border-radius: 20px;
    background-attachment: fixed;
    background-image: url(https://scontent.fbkk2-7.fna.fbcdn.net/v/t39.30808-6/366665018_675851381247244_7432842338446430488_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=49d041&_nc_eui2=AeE6atxcAnxP-GvTBZAnyLcajiikUBsimfmOKKRQGyKZ-dRKPFccocscZseF9K6osIK_5KL8KARTaFIR0NTagw8J&_nc_ohc=vd5Hr794OSgAX8WHICT&_nc_ht=scontent.fbkk2-7.fna&oh=00_AfDRoU6rB_PVuIexVBtBxoH3T0cjni0scdF6OcHdagBYMA&oe=651D308F);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    width: 100%;
    height: 360px;
    opacity: 0.7;
}

.Landing-bg3
{
    margin-top: 70px;
    margin-bottom: 100px;
    border-radius: 20px;
    background-attachment: fixed;
    background-image: url(https://i.pinimg.com/originals/f1/63/11/f16311fd0c32786525f471c685bc516e.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    width: 100%;
    height: 360px;
    opacity: 0.7;
}
/* https://cdn.wallpapersafari.com/53/50/1uJNUe.jpg  */

.Landing-bg4
{
    background-attachment: fixed;
    background-color: #1d2951;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    width: 100%;
    height: 30px;
}

.Landing-bg img
{
    margin: 20px;
    border-radius: 100%;
    width: 170px;
    height: 170px;
    transition: 0.2s;
}

.Landing-bg img:hover
{
    width: 200px;
    height: 200px;
}

.Landing-bg a:hover + p
{
    font-size: 15px;
}


.ML
{
    margin: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ML .content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 25%;
    border: solid;
    padding: 30px;
    box-shadow: 10px 10px;
}

.ML .content img
{
    margin: 10px;
    width: 200px;
}

#myButton
{
    box-shadow: 10px 10px;
    opacity: 0.9;
    color: #ddd;
    background-color: #1d2951;
    margin: 5px;
    padding: 14px;
    border-radius: 10px;
    transition: 0.3s;
}

#myButton:hover
{
    opacity: 1;
    padding: 17px;
}

#label-container
{
    display: none;
    border: solid;
    padding: 20px;
    margin: 50px;
}

/*                                       */

.bullet-head
{
    color: #1d2951;
    border: solid;
    border: #1d2951;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px;
}

.bullet-content
{
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.bullet-content2
{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.bullet-content3
{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}


#profile
{
    border-radius: 2%;
    width: 30%;
    margin: 20px;
}
.datapro
{
    width: 50%;
    color: white;
    border: solid;
    background-color: #1d2951;
    border-radius: 20px ;
    transition: 0.2s;
}

.datapro:hover
{
    opacity: 1;
    padding: 5px;
    box-shadow: 2px 2px #3d54a2;
}
.datapro h3
{
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    color: #1d2951;
    margin: 15px;
}

.datapro h3 i
{
    color: white;
    padding: 10px;
    box-shadow: 2px 2px #3d54a2;
    border-radius: 10px;
    background-color: #1d2951;
    margin: 10px;
    transition: 0.2s;
}

.datapro p
{
    margin: 30px;
}

#Ed-name
{
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 1s;
    transition-timing-function: ease-out;
    
}

#Ed-name:hover
{
    margin: 10px;
    border: solid white;
    background-color: #1d2951;
    border-radius: 60px;
    box-shadow: 2px 2px #1d2951;
}

#Ed-name p
{
    position: absolute;
    visibility: hidden;
    padding: 5px;
    margin: 5px;
}

#Ed-name:hover p
{
    position: relative;
    visibility: visible;
}

#Ed-name:hover #school-img
{
    width: 50px;
}

#school-img
{
    margin: 20px;
    border-radius: 100%;
    width: 100px;
    transition: 0.2s;
}

.bullet-content .content img
{
    margin: 15px;
    width: 100px;
}

.Skill-data .bullet-content2 p 
{
    border: solid #1d2951;
    padding: 10px;
    box-shadow: 10px 10px;
}

.Landing-bg3 .bullet-content i
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 40px;
    margin: 15px;
}

.Landing-bg3 .bullet-content a
{
    text-decoration: none;
}

.Landing-bg3 .bullet-content #text
{

    display: none;
    font-size: 20px;
}

.Landing-bg3 .bullet-content #icon:hover #text
{
    margin: 20px;
    display: block;
}


/*!
 * Sakura.js 1.1.1
 * Vanilla JS version of jQuery-Sakura: Make it rain sakura petals.
 * https://github.com/jhammann/sakura
 *
 * Copyright 2019-2019 Jeroen Hammann
 *
 * Released under the MIT License
 *
 * Released on: September 4, 2019
 */
 @-webkit-keyframes fall {
    0% {
      opacity: 0.9;
      top: 0; }
    100% {
      opacity: 0.2;
      top: 100%; } }
  
  @keyframes fall {
    0% {
      opacity: 0.9;
      top: 0; }
    100% {
      opacity: 0.2;
      top: 100%; } }
  
  @-webkit-keyframes blow-soft-left {
    0% {
      margin-left: 0; }
    100% {
      margin-left: -50%; } }
  
  @keyframes blow-soft-left {
    0% {
      margin-left: 0; }
    100% {
      margin-left: -50%; } }
  
  @-webkit-keyframes blow-medium-left {
    0% {
      margin-left: 0; }
    100% {
      margin-left: -100%; } }
  
  @keyframes blow-medium-left {
    0% {
      margin-left: 0; }
    100% {
      margin-left: -100%; } }
  
  @-webkit-keyframes blow-soft-right {
    0% {
      margin-left: 0; }
    100% {
      margin-left: 50%; } }
  
  @keyframes blow-soft-right {
    0% {
      margin-left: 0; }
    100% {
      margin-left: 50%; } }
  
  @-webkit-keyframes blow-medium-right {
    0% {
      margin-left: 0; }
    100% {
      margin-left: 100%; } }
  
  @keyframes blow-medium-right {
    0% {
      margin-left: 0; }
    100% {
      margin-left: 100%; } }
  
  @-webkit-keyframes sway-0 {
    0% {
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg); }
    40% {
      -webkit-transform: rotate(28deg);
      transform: rotate(28deg); }
    100% {
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg); } }
  
  @keyframes sway-0 {
    0% {
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg); }
    40% {
      -webkit-transform: rotate(28deg);
      transform: rotate(28deg); }
    100% {
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg); } }
  
  @-webkit-keyframes sway-1 {
    0% {
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg); }
    40% {
      -webkit-transform: rotate(43deg);
      transform: rotate(43deg); }
    100% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg); } }
  
  @keyframes sway-1 {
    0% {
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg); }
    40% {
      -webkit-transform: rotate(43deg);
      transform: rotate(43deg); }
    100% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg); } }
  
  @-webkit-keyframes sway-2 {
    0% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg); }
    40% {
      -webkit-transform: rotate(56deg);
      transform: rotate(56deg); }
    100% {
      -webkit-transform: rotate(22deg);
      transform: rotate(22deg); } }
  
  @keyframes sway-2 {
    0% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg); }
    40% {
      -webkit-transform: rotate(56deg);
      transform: rotate(56deg); }
    100% {
      -webkit-transform: rotate(22deg);
      transform: rotate(22deg); } }
  
  @-webkit-keyframes sway-3 {
    0% {
      -webkit-transform: rotate(25deg);
      transform: rotate(25deg); }
    40% {
      -webkit-transform: rotate(74deg);
      transform: rotate(74deg); }
    100% {
      -webkit-transform: rotate(37deg);
      transform: rotate(37deg); } }
  
  @keyframes sway-3 {
    0% {
      -webkit-transform: rotate(25deg);
      transform: rotate(25deg); }
    40% {
      -webkit-transform: rotate(74deg);
      transform: rotate(74deg); }
    100% {
      -webkit-transform: rotate(37deg);
      transform: rotate(37deg); } }
  
  @-webkit-keyframes sway-4 {
    0% {
      -webkit-transform: rotate(40deg);
      transform: rotate(40deg); }
    40% {
      -webkit-transform: rotate(68deg);
      transform: rotate(68deg); }
    100% {
      -webkit-transform: rotate(25deg);
      transform: rotate(25deg); } }
  
  @keyframes sway-4 {
    0% {
      -webkit-transform: rotate(40deg);
      transform: rotate(40deg); }
    40% {
      -webkit-transform: rotate(68deg);
      transform: rotate(68deg); }
    100% {
      -webkit-transform: rotate(25deg);
      transform: rotate(25deg); } }
  
  @-webkit-keyframes sway-5 {
    0% {
      -webkit-transform: rotate(50deg);
      transform: rotate(50deg); }
    40% {
      -webkit-transform: rotate(78deg);
      transform: rotate(78deg); }
    100% {
      -webkit-transform: rotate(40deg);
      transform: rotate(40deg); } }
  
  @keyframes sway-5 {
    0% {
      -webkit-transform: rotate(50deg);
      transform: rotate(50deg); }
    40% {
      -webkit-transform: rotate(78deg);
      transform: rotate(78deg); }
    100% {
      -webkit-transform: rotate(40deg);
      transform: rotate(40deg); } }
  
  @-webkit-keyframes sway-6 {
    0% {
      -webkit-transform: rotate(65deg);
      transform: rotate(65deg); }
    40% {
      -webkit-transform: rotate(92deg);
      transform: rotate(92deg); }
    100% {
      -webkit-transform: rotate(58deg);
      transform: rotate(58deg); } }
  
  @keyframes sway-6 {
    0% {
      -webkit-transform: rotate(65deg);
      transform: rotate(65deg); }
    40% {
      -webkit-transform: rotate(92deg);
      transform: rotate(92deg); }
    100% {
      -webkit-transform: rotate(58deg);
      transform: rotate(58deg); } }
  
  @-webkit-keyframes sway-7 {
    0% {
      -webkit-transform: rotate(72deg);
      transform: rotate(72deg); }
    40% {
      -webkit-transform: rotate(118deg);
      transform: rotate(118deg); }
    100% {
      -webkit-transform: rotate(68deg);
      transform: rotate(68deg); } }
  
  @keyframes sway-7 {
    0% {
      -webkit-transform: rotate(72deg);
      transform: rotate(72deg); }
    40% {
      -webkit-transform: rotate(118deg);
      transform: rotate(118deg); }
    100% {
      -webkit-transform: rotate(68deg);
      transform: rotate(68deg); } }
  
  @-webkit-keyframes sway-8 {
    0% {
      -webkit-transform: rotate(94deg);
      transform: rotate(94deg); }
    40% {
      -webkit-transform: rotate(136deg);
      transform: rotate(136deg); }
    100% {
      -webkit-transform: rotate(82deg);
      transform: rotate(82deg); } }
  
  @keyframes sway-8 {
    0% {
      -webkit-transform: rotate(94deg);
      transform: rotate(94deg); }
    40% {
      -webkit-transform: rotate(136deg);
      transform: rotate(136deg); }
    100% {
      -webkit-transform: rotate(82deg);
      transform: rotate(82deg); } }
  
  .sakura {
    pointer-events: none;
    position: absolute; }
  